<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 id="jumbo" class="display-4 text-center">Merchants<p><a href="/merchants/new" class="btn btn-primary btn-lg active" id="center-panel-link" role="button" aria-pressed="true">Create A New Merchant</a></p></h1>
  </div>
</div>

<table class="table table-striped">
  <thead>
   <tr>
     <th scope="col">Merchant Name</th>
     <th scope="col"></th>
     <th scope="col"></th>
   </tr>
 </thead>
  <tbody>
    <% @merchants.each do |m| %>
    <tr>
      <td><a href="/merchants/<%= m.id %>"><%= m.name %></a></h2></td>
      <td><form id="merchant-<%= m.id %>-edit" class="edit" action="/merchants/<%= m.id %>/edit" method="GET">
        <button>Edit</button></form></td>
      <td><form id="merchant-<%= m.id %>-delete" class="delete" action="/merchants/<%= m.id %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete"/>
        </form></td>
      </tr>
    <% end %>
  </tbody>
</table>
