<h1>Items</h1>

  <form action="/items/new">
    <input type="submit" value="Create A New Item">
  </form>

  <% @items.each do |i| %>
    <img src="<%= i.image %>" alt="<%= i.name %>-image" height="120" width="110">
    <h2><a href="/items/<%= i.id %>"><%= i.name %></a></h2>
    <p><%= i.name %> price: <%= number_to_currency((i.unit_price)/100.to_f) %></p>
  <% end %>
