<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 id="jumbo" class="display-4 text-center">Merchants Dashboard</h1>
  </div>
</div>


<h3>Merchant With Most Items: <%= Merchant.with_most_items %><h3>

<h3>Merchant With Highest Price Item: <%= Merchant.with_highest_price_item %><h3>

<div>
<% @merchants.each do |m| %>
  <h3><a href="/merchants/<%= m.id %>"><%= m.name %></a></h3>
  <h4><u>Item Count:</u> <%= m.total_item_count %></a></h4>
  <h4><u>Average Item Price:</u> <%= number_to_currency(m.average_item_price) %></a></h4>
  <h4><u>Total Cost Of Items:</u> <%= number_to_currency(m.total_price_of_all_items) %></a></h4>
<% end %>
</div>
